/*Estaria bueno que las checkboxes tengan estos colores*/

.green-checkbox:checked {
  background-color: #3DED97;
  border-color: #3DED97;
}

.green-checkbox:focus {
  outline: none; 
  box-shadow: 0 0 0 1px #3DED97; 
}

/* If there are pseudo elements like ::before or ::after for custom checkboxes */
.green-checkbox:checked::before,
.green-checkbox:checked::after {
  background-color: #3DED97;
  border-color: #3DED97;
}
