.button-container {
  left: 50%;
  transform: translateX(-50%);
}

.datepicker-loading {
  display: flex;
  align-items: center;
}

.spinner-datepicker{
  position: relative;
  left: 10px;
}

.mealTable-headcell {
  color: #000000;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  min-height: 85px;
  background-color: #e8fdf5;
  border-bottom: solid 2px black;
}

.checkbox {
  width: 150px;
}

.dateTimeError-container {
  display: flex;
  flex-direction: column;
}

.input-error {
  border: solid red 1px;
  border-radius: 5px;
}

.datepicker-input {
  width: 100%;
}

.timepicker-input {
  width: 100%;
}
