@media (max-width: 769px) {
  .table-container {
    padding-bottom: 25%;
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo gris translúcido */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
}

